/*------------------------------------------------*/
/*-------------------[LAYOUT/FONTS]----------------------*/
/*------------------------------------------------*/
html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: $green;
  font-family: $source-serif-pro;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

body {
  background-color: #E8E5DF;
	color: #000;
  font-family: $source-serif-pro;
}

.fa-times-thin:before {
  content: '\00d7';
}

.wysiwyg {
  p {
    margin-bottom: 1.5rem;
    line-height: 2;
    &:last-of-type {
      margin-bottom: 0;
    }
    &:only-of-type {
      margin-bottom: 0;
    }
  }
  ul {
    li {
      margin-bottom: 10px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.green  {
  color: $green;
}
.yellow {
  color: #FFDA10;
}
.maroon {
  color: #36091F;
}
.sofia {
  font-family: $sofia;
}
.oswald {
  font-family: $oswald;
}
.source-serif-pro {
  font-family: $source-serif-pro;
}

/*------------------------------------------------*/
/*--------------------[LINKS/BUTTONS]---------------------*/
/*------------------------------------------------*/

a {
  color: $black;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.btn {
  font-family: $oswald;
  text-transform: uppercase !important;
  padding: .5rem 1.5rem !important;
  white-space: normal;
  color: $dark-green !important;
  border-radius: 0 !important;
  border-width: 0 0 10px 0 !important;
  border-color: $yellow !important;
  background-color: #fff !important;
  &:hover {
    background-color: $maroon !important;
    color: #fff !important;
  }
}

/*------------------------------------------------*/
/*--------------------[NAV]----------------------*/
/*------------------------------------------------*/
#wrapper-navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  #main-nav {
    @include media-breakpoint-down(lg) {
      padding-top: 35px;
      padding-bottom: 35px;  
    }
    .container {
      @media only screen and (max-width: 399px) {
        justify-content: center;
      }
      .navbar-toggler {
        i {
          color: $black;
        }
      }
      #main-menu {
        background-color: #fff;
        border-bottom: solid 10px $yellow;
        position: relative;
        &:after {
          content: '';
          width: 100%;
          position: absolute;
          background: #fff;
          left: 100%;
          top: 0;
          height: 57px;
          border-bottom: solid 10px $yellow;
        }
        li {
          &.current_page_item {
            > a {
              background-color: $maroon;
              color: #fff;
            }
          }
          a {
            padding: 10px;
            font-family: $oswald;
            text-transform: uppercase;
            color: $dark-green;
            &:hover {
              background-color: $maroon;
              color: #fff;
            }
          }
          &:first-of-type {
            a {
              padding-left: 25px;
            }
          }
        }
        .dropdown-menu {
          border-radius: 0 !important;
          border: solid 1px $maroon;
          li {
            padding: 5px 25px;
            text-align: center;
            &:not(:last-of-type) {
              border-bottom: solid 1px #dedede;
            }
            a {
              padding-left: 0;
              padding-right: 0;
              background-color: transparent;
              color: $dark-green;
              &:hover {
                background-color: transparent;
                color: $green;
              }
            }
          }
        }
      }
    }
  }
}

/*------------------------------------------------*/
/*--------------------[MODAL NAV]----------------------*/
/*------------------------------------------------*/
#modalNav {
  .modal-dialog {
    //set this to be whatever the breakpoint when the desktop nav takes over
    max-width: 1199px;
  }
  #modalTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    #logo {
      max-width: 262.5px;
      margin-top: 30px;
    }
    .nav-modal-close {
      margin-top: 24.5px;
      padding: .25rem .75rem;
     i {
      color: $black;
      font-weight: bold;
     } 
    }
  }
  #mobileMenu {
    margin-top: 25px;
    text-align: center;
    a {
      font-size: 1.25rem;
      color: $black;
      font-weight: bold;
      text-transform: uppercase;
    }
    .dropdown-menu {
      position: relative !important;
      transform: none !important;
      text-align: center;
    }
  }
}

/*------------------------------------------------*/
/*--------------------[FORMS]----------------------*/
/*------------------------------------------------*/
.nf-form-content .list-select-wrap .nf-field-element>div, .nf-form-content input:not([type=button]), .nf-form-content textarea {
  border-color: $maroon !important;
  background: #fff !important;
}
.nf-error.field-wrap .nf-field-element:after {
  background: $maroon !important;
}
.ninja-forms-req-symbol {
  color: $maroon !important;
}
.nf-form-fields-required, .nf-error-msg, .nf-fu-progress {
  display: none !important;
}
.nf-field-container {
  @media only screen and (max-width: 800px) {
    margin-bottom: 20px !important;
  }
}
label {
  color: #000 !important;
  font-weight: normal !important;
}
form ::placeholder, form select {
  color: #000 !important;
}
.nf-form-content input.ninja-forms-field {
  height: auto !important;
}
.nf-form-content input[type=button] {
  border-bottom: solid 10px $yellow !important;
}
/*------------------------------------------------*/
/*--------------------[REUSABLE STYLES]----------------------*/
/*------------------------------------------------*/
.hero {
  padding-top: 40.57%;
  box-shadow: rgba(72,75,10,.46) 0 0 0 100vh inset;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  .content-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
hr {
  background-color: $maroon;
}
.midline {
    position: relative;
    z-index: 1;
    font-weight: 600;
    &:before {
      border-top: 2px solid $maroon;
        content:"";
        margin: 0 auto;
        position: absolute;
        top: 50%; left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }
    span {
      background: #fff; 
      padding-right: 15px;
      color: $maroon;
      font-family: $sofia;
    }
}
.gallery-wrapper {
  display: flex;
  .gallery-image {
    width: 25%;
  }
}
.page-bucket {
  cursor: pointer;
  height: 350px;
  box-shadow: rgba(43,21,21,.45) 0 0 0 350px inset;
  background-size: cover !important;
}
/*------------------------------------------------*/
/*--------------------[HOME]----------------------*/
/*------------------------------------------------*/
#homepage {
  #sectionOne {
    display: flex;
    .page-bucket {
      width: 33.33%;
    }
  }
  #sectionTwo {
    background-color: #fff;
  }
  #sectionThree {
    background-color: $maroon;
    padding-top: 115px;
    padding-bottom: 115px;
    position: relative;
    .left {
      .image-holder {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background-position: center center !important;
        background-size: cover;
        box-shadow: rgba(43,21,21,.45) 0 0 0 100vh inset;
      }
    }
  }
}

/*------------------------------------------------*/
/*--------------------[TRAINING PROGRAM]----------------------*/
/*------------------------------------------------*/
#trainingProgram {
  #sectionOne {
    position: relative;
    .left {
      .outer-wrapper {
        top: 0;
        left: 0;
        position: absolute;
        bottom: 0;
        .content-wrapper {
          background-color: rgba(54,9,31,.56);
          color: #fff;
          height: 100%;
          display: flex;
          align-items: center;
          padding-right: 50px;
          font-size: 1.5rem;
        }  
      }
    }
  }
  #sectionTwo {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    .wysiwyg {
      .h5, ul li {
        font-family: $oswald;
      }
    }
  }
}

/*------------------------------------------------*/
/*--------------------[GUIDED HUNTS]----------------------*/
/*------------------------------------------------*/
#guidedHunts {
  #sectionOne {
    background-color: #0F461E;
    margin-bottom: -125px;
  }
  #sectionTwo {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    background-color: #E8E5DF;
    padding-bottom: 100px;
    .page-bucket {
      flex: 1 1 50%;
      background-position: center !important;
    }
  }
}

/*------------------------------------------------*/
/*--------------------[SINGLE GUIDED HUNT/GUIDED RETREATS]----------------------*/
/*------------------------------------------------*/
.single-guided-hunt, .page-template-guided-retreats {
  background-color: #fff;
  #sectionOne {
    position: relative;
    .left {
      .inner-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        .general-overview {
          background-color: $green;
        }
        .image-holder {
          height: 350px;
          background-position: center !important;
        }
      }
    }
    .right {
      .target-species {
        position: relative;
        background-color: #E8E5DF;
        &:before {
          content: '';
          position: absolute;
          left: -30px;
          top: 0;
          height: 100%;
          background-color: #E8E5DF;
          width: 30px;
        }
        &:after {
          content: '';
          position: absolute;
          right: -200px;
          top: 0;
          height: 100%;
          background-color: #E8E5DF;
          width: 200px;
        }
      }
      .rates {
        position: relative;
        background-color: $maroon;
        &:before {
          content: '';
          position: absolute;
          left: -30px;
          top: 0;
          height: 100%;
          background-color: $maroon;
          width: 30px;
        }
        &:after {
          content: '';
          position: absolute;
          right: -200px;
          top: 0;
          height: 100%;
          background-color: $maroon;
          width: 200px;
        }
        .wysiwyg {
          li {
            font-family: $oswald;
          }
        }
      }
      .main-content{
        h5 {
          font-family: $source-serif-pro;
        }
        .tablepress {
          width: 100% !important;
          thead th {
            text-align: center;
            background-color: #E8E5DF !important;
            font-family: $source-serif-pro;
          }
          td {
            text-align: center !important;
          }
        }
      }
    }
  }
  #sectionTwo {
    display: flex;
    flex-wrap: wrap;
    .page-bucket {
      flex: 1 1 50%;
      background-position: center !important;
    }
  }
}

/*------------------------------------------------*/
/*--------------------[TAXIDERMY]----------------------*/
/*------------------------------------------------*/
#taxidermy {
  #sectionOne {
    background-color: $maroon;
  }
  #sectionTwo {
    display: flex;
    flex-wrap: wrap;
    background-color: #E8E5DF;
    margin-bottom: -60px;
    .right {
      img {
        margin-top: -135px;
      }
    }
  }
  #sectionThree {
    background-color: #fff;
  }
}

/*------------------------------------------------*/
/*--------------------[ABOUT]---------------------*/
/*------------------------------------------------*/
#about {
  #sectionOne {
    background-color: $maroon;
    position: relative;
    .right {
      img {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
      }
    }
  }
  #sectionTwo {
    box-shadow: rgba(15,70,30,.95) 0 0 0 100vh inset;
    .left {
      .wysiwyg {
        p {
          font-size: 1.5rem;
        }
      }
    }
    .right {
      .inner-wrapper {
        border-left: solid 2px #E8E5DF;
        padding-left: 25px;
      }
    }
  }
  #sectionThree {
    margin-top: -50px;
    margin-bottom: -50px;
    .left, .right {
      p {
        font-size: 1.5rem;
      }
    }
    .center {
      .inner-wrapper {
        background-color: $maroon;
        padding: 100px;
        border: solid 10px #fff;
      }
    }
  }
  #sectionFour {
    background-color: #fff;
    .quote-container {
      background-color: #E8E5DF;
    }
  }
}

/*------------------------------------------------*/
/*--------------------[FAQ]---------------------*/
/*------------------------------------------------*/
#faq {
  #sectionOne {
    position: relative;
    .right {
      img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
      }
    }
  }
  #sectionTwo {
    background-color: #fff;
    #faqAccordion {
    .question-container {
      padding-top: 25px;
      padding-bottom: 25px;
      border-bottom: solid 3px #E8E5DF;
      cursor: pointer;
      .question {
        display: flex;
        align-items: center;
        .plus-to-minus {
          width: 50px;
          height: 50px;
          font-size: 1.5em;
          position: relative;
          span {
            position: absolute;
            transition: 300ms;
            background: $green;
            border-radius: 2px;
            &:first-child {
              top: 25%;
              bottom: 25%;
              width: 10%;
              left: 45%;  
            }
            &:last-child {
              left: 25%;
              right: 25%;
              height: 10%;
              top: 45%;  
            }
          }
        }
      }
      .card-body {
        padding-left: 50px;
        padding-bottom: 0;
        p {
          margin-bottom: 0;
          color: #000;
        }
      }
      a[aria-expanded="true"] {
        .plus-to-minus {
          span {
            transform: rotate(90deg);
            &:last-child {
              left: 50%;
              right: 50%; 
            }  
          }
        }
      }
      &:last-of-type {
        border-bottom: 0;
      }
    }
    }
  }
}

/*------------------------------------------------*/
/*--------------------[CONTACT]---------------------*/
/*------------------------------------------------*/
#contact {
  #sectionOne {
    position: relative;
    .right {
      img {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
      }
    }
  }
}
/*------------------------------------------------*/
/*-------------------[FOOTER]---------------------*/
/*------------------------------------------------*/

#wrapperFooter {
  background: #1D0404;
  color: #fff;
  padding: 25px 0;
  #footerLogo {
    border-radius: 20px;
  }
  #footerMenu {
    margin-bottom: 25px;
    li {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: #fff;
        font-family: $oswald;
      }
      &:first-of-type {
        a {
          padding-left: 0;
        }
      }
      &:last-of-type {
        span {
          display: none;
        }
      }
    }
  }
  footer {
    hr {
      background-color: #dedede;
    }
  }
  a {
    color: $black;
    text-decoration: underline;
    &:hover {
      color: #fff;
    }
  }
}